{% extends "varnishpurge/_layouts" %}
{% import '_includes/forms' as forms %}

{% set title = "Purge Varnish cache"|t('varnishpurge') %}

{% set selectedTab = 'url' %}
{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="varnishpurge/purge/url">

    {{ forms.textField({
        label: "URL to purge" | t('varnishpurge'),
        instructions: 'Paste the full url to clear from cache.' | t('varnishpurge'),
        placeholder: alias('@baseUrl') ~ '/page-to-purge',
        name: 'url',
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Clear cache' | t('varnishpurge') }}">
    </div>
{% endblock %}
