{% extends "_layouts/cp" %}
{% set title = "Purge the Varnish cache"|t('varnishpurge') %}

{% block content %}

    <div class="row intro" style="color:#3f4d5a;font-style:italic;">
        Doormiddel van de VarnishPurge plugin kan je pagina's uit de cache halen (refreshen). <br><br>
        In het invoerveld hieronder geeft je de url van de pagina die je wenst te clearen in volgens één van volgende notaties, en klik op de "Purge now!"-knop:<br>
        <b>https://mijndomein.be/nl/pagina/veel-gestelde-vragen</b><br>
        <b>//mijndomein.be/nl/pagina/veel-gestelde-vragen</b><br>
        <b>www.mijndomein.be/nl/pagina/veel-gestelde-vragen</b><br>
        <b>mijndomein.be/nl/pagina/veel-gestelde-vragen</b><br>
        <b>/nl/pagina/veel-gestelde-vragen</b><br><br>

        Vervolgens zouden je aanpassingen zichtbaar moeten worden wanneer je refreshed of terug naar die pagina navigeert!<br><br>
    </div>

    <form method="post" action="varnishpurge/purge" accept-charset="UTF-8">
        {{ csrfInput() }}
        <label for="url">URL to purge:</label><br/>
        <input id="url" type="text" name="url" value="" style="width:400px;"><br/><br/>

        <input type="submit" value="Purge now!" style="float:left;">
        <div class="row notification" style="float:left;color:#223399;font-style:italic;margin-left:15px;font-weight:bold;margin-bottom:15px;">
            {{  craft.app.request.getQueryParam('notice') }}
        </div>
    </form>
    <br/>

{% endblock %}